.blocklyToolboxDiv {
    background-color: #448acc;
}

.blocklyTreeLabel {
    font-size: 18px;
    font-style: bold;
}

.blocklyTreeRow:hover {
    background-color: black;
    color: black;
}

button {
    background-color: #448acc;
    color: white;
    border: 2px solid lightgrey;
    float: left;
    font-size: 20px;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
