h1 {
  margin-top:0px;
  margin-bottom:5px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    overflow: hidden;
}

.blocklySvg {
    background-color: #DBE2FF !important; 
}

.blocklyFlyoutBackground {
    fill: #BCC9FF;
    fill-opacity: .8;
}

.blocklyToolboxDiv {
    background-color: #448acc;
    color: white;
}

.blocklyScrollbarHandle {
    fill: #448acc;
}

.blocklyScrollbarBackground:hover+.blocklyScrollbarHandle,
.blocklyScrollbarHandle:hover {
    fill: #046ab4;
}

#blocklyArea {
    height: 100%; /* 99 */
}

.blocklyTreeLabel {
    font-size: 18px;
}

.blocklyTreeRow {
    background-color: #046ab4;
    height: 28px;
    line-height: 28px;
    border: 1px solid lightgrey;    
    box-shadow: 8px 8px 8px 0 rgba(0,0,0,0.2), 6px 6px 6px 0 rgba(0,0,0,0.19);
}
    
.blocklyTreeRow:hover {
    color: lightgrey;
}

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    background-color: #004475;
}
 
input[type=text] {
    border-radius: 6px;
    border: 2px solid lightgrey;
    font-size: 16px;
    font-weight: bold;
}

.program_name {
/*    font-style: italic; */
    text-shadow: 2px 2px 2px black;
}

button {
    background-color: #448acc;
    color: white;
    border: 2px solid lightgrey;
    float: left;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button, button:active, button:focus {
    outline: none !important;
    outline: 0 !important;
}

button[disabled=disabled], button:disabled {
    color: lightgrey;
}

.round_button {
    height: 32px;
    width: 32px;
    border-radius: 16px;
}

.round_button[data-selected="true"] {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    background-color: white;
    color:  #448acc;
    border-color: white;
}

#textDiv {
    background-color: #046ab4;
    border: 2px solid lightgrey;
}

#blocklyDiv {
    height: 100%;  /* 99 */
}

/* the language and tool icons are placed top right */
#icons {
    display: table-row;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* the tiny version string placed bottom left */
#version {
    display: table-row;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10000;
    font-size: 10px;
}

#tool, #lang {
    display: table-cell;
    vertical-align: top;
}

/* shadow for tool icons */
#tool img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

/* the skill buttons are placed top left */
#skill {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* border and shadow for language icons */
#lang img {
    border: 2px solid lightgrey;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* #lang img .tool_icon {
    border: 10px solid red;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}*/

/* http://www.cssportal.com/style-input-range/ */
/* http://danielstern.ca/range.css/#/ */
/*  background: #448acc; */
/*  background-color: #046ab4; */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.3px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 2.5px 2.5px 7.7px rgba(0, 0, 0, 0.47), 0px 0px 2.5px rgba(13, 13, 13, 0.47);
  background: rgba(4, 106, 180, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 2.6px 2.6px 4.2px #000000, 0px 0px 2.6px #0d0d0d;
  border: 2.8px solid #e4e3e4;
  height: 22px;
  width: 19px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(4, 118, 200, 0.78);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 2.5px 2.5px 7.7px rgba(0, 0, 0, 0.47), 0px 0px 2.5px rgba(13, 13, 13, 0.47);
  background: rgba(4, 106, 180, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 2.6px 2.6px 4.2px #000000, 0px 0px 2.6px #0d0d0d;
  border: 2.8px solid #e4e3e4;
  height: 22px;
  width: 19px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: rgba(4, 94, 160, 0.78);
  border: 0.2px solid #000000;
  border-radius: 2.6px;
  box-shadow: 2.5px 2.5px 7.7px rgba(0, 0, 0, 0.47), 0px 0px 2.5px rgba(13, 13, 13, 0.47);
}

input[type=range]::-ms-fill-upper {
  background: rgba(4, 106, 180, 0.78);
  border: 0.2px solid #000000;
  border-radius: 2.6px;
  box-shadow: 2.5px 2.5px 7.7px rgba(0, 0, 0, 0.47), 0px 0px 2.5px rgba(13, 13, 13, 0.47);
}

input[type=range]::-ms-thumb {
  box-shadow: 2.6px 2.6px 4.2px #000000, 0px 0px 2.6px #0d0d0d;
  border: 2.8px solid #e4e3e4;
  height: 22px;
  width: 19px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 11.4px;
}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(4, 106, 180, 0.78);
}

input[type=range]:focus::-ms-fill-upper {
  background: rgba(4, 118, 200, 0.78);
}

/* get rid of the dotted box ... */
:focus {
    outline: none 0;
}

::-moz-focus-inner {
  border: 0;
}

/* ---------- the file menu ----------- */

.dropdown_button {
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 5px 5px 10px black;
    cursor: pointer;
}

.not-active {
    pointer-events: none;
    cursor: default;
    color: lightgrey;
    display: none;
}

/* Dropdown button on hover & focus */
.dropdown_button:hover, .dropdown_button:focus {
    text-shadow: 2px 2px 10px black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

table#dropdown_content_files {
/*    table-layout: fixed; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
    z-index: 100;
    right: 0;
    display: none;
    position: absolute;
    background-color: #448acc;
    min-width: 300px;
    border: 1px solid lightgrey;    
    box-shadow: 8px 8px 10px rgba(0,0,0,0.4);
}

/* Links inside the dropdown */
.dropdown_content a {
    text-align: center;
    color: color;
    padding: 2px 16px;
    text-decoration: none;
    display: block;
}

/* seperator inside the dropdown */
.dropdown_content hr {
    margin-top: 0px; 
    margin-bottom: 0px
}

/* Change color of dropdown links on hover */
.dropdown_content a:not(.dropdown_not_active):hover { 
    background-color: #046ab4;
    cursor: pointer;
}

.dropdown_not_active {
    color: lightgrey;
    cursor: default;
}

/* the font color of the currently selected program in the menu */
.dropdown_selected {
    color: #fcce04;
}

/* Plugin list (Hidden by Default) */
.plugin_list {
    z-index: 100;
    right: 0;
    display: none;
    position: absolute;
    background-color: #448acc;
    min-width: 200px;
    border: 1px solid lightgrey;    
    box-shadow: 8px 8px 10px rgba(0,0,0,0.4);
}

/* Show the dropdown menu (use JS to add this class to the */
/* .dropdown_content container when the user clicks on the */
/* dropdown button) */
.show {
    display:block;
}

